.footer {
  background-color: var(--first-color);

  .container {
    margin-bottom: 0;
  }

  &__container {
    padding: 2rem 0 7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    color: var(--body-color);
    text-align: center;
  }

  &__copy {
    display: block;
    color: var(--body-color);
    text-align: center;
    font-size: var(--fz-xs);
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.875rem;

    @include respond-to("medium") {
      display: grid;
      position: fixed;
      bottom: 0;
      left: 50px;
      row-gap: 1rem;
    }
  }

  &__social::after {
    @include respond-to("medium") {
      content: "";
      display: block;
      height: 90px;
      width: 1px;
      background-color: var(--title-color);
      margin: 0px auto;
    }
  }

  &__social-link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: flex;
    font-size: var(--fz-xl);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);

    @include respond-to("medium") {
      padding: 0.4rem;
      font-size: var(--fz-sm);
    }
  }

  &__social-link:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }

  &__scroll {
    display: none;

    @include respond-to("medium") {
      display: grid;
      color: var(--title-color);
      row-gap: 2.25rem;
      gap: 3rem;
      position: fixed;
      right: -30px;
      bottom: 0;
    }
  }

  &__scroll::after {
    content: "";
    display: block;
    height: 50px;
    width: 1px;
    background-color: var(--title-color);
    margin: 2rem auto 0;
  }

  &__scroll span {
    font-size: var(--fz-xs);
    transform: rotate(90deg);
  }

  &__scroll-name {
    transition: margin-bottom 0.3s ease;
  }

  &__scroll-name:hover {
    margin-bottom: 7px;
    color: var(--secondary-color);
  }
}
