.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  padding: 0.625rem 1.6rem;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to("medium") {
    padding: 0.625rem 2.5rem;
  }

  @include respond-to("large") {
    padding: 0.625rem 3.125rem;
  }
}

/* .nav a {
    } */
.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-semibold);
  transition: all 0.2s ease-in-out;
  position: relative;
  border: 2px solid;
  border-radius: 50% 10% / 30%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.nav__logo:hover {
  border-radius: 5px;
}

.nav__logo::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 100%;
  border-radius: 50% 10% / 30%;
  width: 100%;
  background: hsla(var(--second-hue), 32%, 80%, 0.6);
  z-index: -1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 10px -8px;
}

.nav__logo:hover::before {
  background: hsla(var(--second-hue), 32%, 80%, 1);
  top: 0;
  left: 0;
  border-radius: 5px;
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);

  @include respond-to("tiny") {
    padding: 1rem 1.5rem;
  }

  @include respond-to("small") {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include respond-to("medium") {
    position: static;
    background-color: var(--body-color);
    width: clamp(100px, 40%, 43.75rem);
    padding: 1rem 2.25rem;
    align-self: center;
    // margin-left: 27%;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

/* Active link */
.active-link {
  background: linear-gradient(
    100deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 2%, 0.1);
}

.cv {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font: var(--font-medium);
  transition: 0.4s;
  font-size: var(--smaller-font-size);
}
