.skills {
  position: relative;
  display: flex;
  flex-direction: column;

  .skills__container {
    row-gap: 2rem;
    padding-top: 1rem;

    @include respond-to("small") {
      justify-content: center;
    }

    @include respond-to("large") {
      grid-template-columns: repeat(2, 400px);
      justify-content: center;
      column-gap: 3rem;
    }
  }

  .skills__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);

    @include respond-to("small") {
      padding: 2rem 4rem;
    }
  }

  .skills__title {
    font-size: var(--fz-md);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .skills__box {
    display: flex;
    justify-content: space-evenly;
    column-gap: 2.5rem;

    @include respond-to("tiny") {
      column-gap: 1rem;
    }
  }

  .skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
  }

  .skills__data {
    display: flex;
    column-gap: 0.5rem;
  }

  .skills .bxs-badge-check {
    font-size: 1rem;
    color: var(--first-color);
  }

  .skills__name {
    font-size: var(--fz-md);
    font-weight: var(--font-medium);
    line-height: 18px;

    @include respond-to("tiny") {
      font-size: var(--fz-xs);
    }
  }

  .skills__level {
    font-size: var(--fz-xxs);
  }

  &__cta {
    margin: auto;
    width: fit-content;
  }
}
