/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* =============== VARIABLES CSS =============== */
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-hue: 221;
  --sat: 33%;
  --lig: 25%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 21%);
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --secondary-color: hsl(192, 8%, 51%);
  --container-color: #fff;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  /*========== Font size from Brittany ==========*/
  --fz-xxs: 11px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*=============== RESPONSIVE ===============*/
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--fz-sm);
}
@media (min-width: 500px) {
  body,
button,
input,
textarea {
    font-size: var(--fz-md);
  }
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
}

main .container {
  margin-bottom: 8rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

.section {
  padding: 1rem 1rem 1rem;
}
@media (min-width: 500px) {
  .section {
    padding: 1rem 3rem 1rem;
  }
}
@media (min-width: 800px) {
  .section {
    padding: 1rem 6rem 1rem;
  }
}
@media (min-width: 1080px) {
  .section {
    padding: 1rem 14rem 1rem;
  }
}
@media (min-width: 1500px) {
  .section {
    max-width: clamp(1000px, 100% - 300px, 2000px);
    margin: 0 auto;
  }
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--fz-xxl);
  color: var(--first-color);
  margin: 0.3125rem auto 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--fz-xs);
  color: var(--text-color);
}

.animate {
  position: absolute;
  top: 10px;
  right: 0px;
  transform: translateX(100px);
  font-size: 4.375rem;
  opacity: 0.1;
  color: var(--secondary-color);
}
@media (min-width: 500px) {
  .animate {
    font-size: 6rem;
  }
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.75rem 1rem;
  border: 1px solid var(--first-color);
  border-radius: 0.5rem;
  transition: 0.4s;
}

.button:hover {
  background-color: var(--first-color);
  color: var(--body-color);
}

.button--ghost {
  background-color: transparent;
  border: 1px solid var(--first-color);
  color: var(--title-color);
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  padding: 0.625rem 1.6rem;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 800px) {
  .nav {
    padding: 0.625rem 2.5rem;
  }
}
@media (min-width: 1080px) {
  .nav {
    padding: 0.625rem 3.125rem;
  }
}

/* .nav a {
    } */
.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-semibold);
  transition: all 0.2s ease-in-out;
  position: relative;
  border: 2px solid;
  border-radius: 50% 10%/30%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.nav__logo:hover {
  border-radius: 5px;
}

.nav__logo::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 100%;
  border-radius: 50% 10%/30%;
  width: 100%;
  background: hsla(var(--second-hue), 32%, 80%, 0.6);
  z-index: -1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 10px -8px;
}

.nav__logo:hover::before {
  background: hsla(var(--second-hue), 32%, 80%, 1);
  top: 0;
  left: 0;
  border-radius: 5px;
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
}
@media (max-width: 335px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 500px) {
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .nav__menu {
    position: static;
    background-color: var(--body-color);
    width: clamp(100px, 40%, 43.75rem);
    padding: 1rem 2.25rem;
    align-self: center;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

/* Active link */
.active-link {
  background: linear-gradient(100deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px hsla(0deg, 0%, 2%, 0.1);
}

.cv {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font: var(--font-medium);
  transition: 0.4s;
  font-size: var(--smaller-font-size);
}

.home .container {
  margin-bottom: 0;
}
.home__container {
  min-height: 100vh;
  position: relative;
  row-gap: 4.5rem;
  padding-top: 20vh;
}
.home__greeting, .home__education {
  font-weight: var(--font-medium);
}
.home__greeting {
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  display: block;
  color: var(--title-color);
  margin-bottom: 1rem;
}
.home__education {
  color: var(--secondary-color);
  margin: 0.65rem auto;
  font-size: clamp(35px, 8vw, 65px);
  line-height: 100%;
}
.home__name {
  font-size: clamp(40px, 8vw, 80px);
}
.home__desc {
  margin: 1rem 0;
  font-size: var(--fz-sm);
  max-width: 640px;
}
@media (min-width: 500px) {
  .home__desc {
    font-size: var(--fz-md);
  }
}
.home__buttons {
  gap: 1.5rem;
  margin-top: 2rem;
}

.about {
  position: relative;
  overflow: hidden;
}
.about .container {
  margin-bottom: 1rem;
}
.about__container {
  row-gap: 2.5rem;
}
@media (min-width: 1080px) {
  .about__container {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}
.about__img {
  width: 200px;
  object-fit: cover;
  object-position: 5px 70px;
  position: relative;
}
@media (min-width: 800px) {
  .about__img {
    width: 300px;
  }
}
.about__handle::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 14px;
  height: 96%;
  width: 96%;
  border: 4px solid hsla(var(--first-hue), var(--sat), var(--lig), 1);
  border-radius: 1rem;
  z-index: -2;
  transition: all 0.2s ease-in-out;
}
.about__handle {
  justify-self: center;
  width: 190px;
  height: 203px;
  background: hsla(var(--first-hue), var(--sat), var(--lig), 1);
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  transform: translate(5px, -5px);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 335px) {
  .about__handle {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1080px) {
  .about__handle {
    width: 260px;
    height: 300px;
  }
}
.about__handle:hover {
  transform: translate(3px, -3px);
}
.about__handle:hover::before {
  left: -9px;
  top: 8px;
}
.about__data {
  text-align: center;
}
@media (min-width: 800px) {
  .about__data {
    text-align: initial;
  }
}
.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 1.5rem 0 2rem;
}
@media (max-width: 335px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 500px) {
  .about__info {
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }
}
@media (min-width: 1080px) {
  .about__info {
    justify-content: initial;
  }
}
.about__box {
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 0.75rem 0.5rem;
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}
@media (min-width: 800px) {
  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }
}
.about__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}
.about__title {
  font-size: var(--fz-xs);
}
.about__subtitle {
  font-size: var(--fz-xxs);
}
.about__description {
  margin-bottom: 2rem;
  text-align: left;
  margin: auto 0.5em;
}
@media (min-width: 800px) {
  .about__description {
    margin-bottom: 2.5rem;
  }
}
.about .about .button {
  margin-top: 1rem;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
}
.skills .skills__container {
  row-gap: 2rem;
  padding-top: 1rem;
}
@media (min-width: 500px) {
  .skills .skills__container {
    justify-content: center;
  }
}
@media (min-width: 1080px) {
  .skills .skills__container {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    column-gap: 3rem;
  }
}
.skills .skills__content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}
@media (min-width: 500px) {
  .skills .skills__content {
    padding: 2rem 4rem;
  }
}
.skills .skills__title {
  font-size: var(--fz-md);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
.skills .skills__box {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2.5rem;
}
@media (max-width: 335px) {
  .skills .skills__box {
    column-gap: 1rem;
  }
}
.skills .skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills .skills__data {
  display: flex;
  column-gap: 0.5rem;
}
.skills .skills .bxs-badge-check {
  font-size: 1rem;
  color: var(--first-color);
}
.skills .skills__name {
  font-size: var(--fz-md);
  font-weight: var(--font-medium);
  line-height: 18px;
}
@media (max-width: 335px) {
  .skills .skills__name {
    font-size: var(--fz-xs);
  }
}
.skills .skills__level {
  font-size: var(--fz-xxs);
}
.skills__cta {
  margin: auto;
  width: fit-content;
}

.services__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}
@media (max-width: 335px) {
  .services__container {
    grid-template-columns: 145px;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .services__container {
    grid-template-columns: repeat(2, 160px);
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .services__container {
    grid-template-columns: repeat(3, 192px);
    column-gap: 3rem;
  }
}

.services__card {
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}
@media (min-width: 800px) {
  .services__card {
    padding: 5rem wrem 3rem;
  }
}

.servicer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}

.services__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.services__button:hover .services__icon {
  transform: translateX(0.25rem);
}

.services__icon {
  font-size: 1rem;
  transition: 0.2s;
}

/* Services modal */
.services__modal {
  position: fixed;
  inset: 0;
  background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: var(--z-modal);
}

.services__modal-content {
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}
@media (min-width: 500px) {
  .services__modal-content {
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }
}

.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services__modal-description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
@media (min-width: 500px) {
  .services__modal-description {
    padding: 0 3.5rem;
  }
}

.service__modal-list {
  display: grid;
  row-gap: 0.75rem;
}

.services__modal-item {
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
}

.services__modal-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.services__modal-info {
  font-size: var(--small-font-size);
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services__modal-close:hover {
  color: var(--text-color);
}

/*Active modal*/
.active-modal {
  opacity: 1;
  visibility: visible;
}

.work {
  position: relative;
  overflow: hidden;
}

.work__container {
  padding-top: 1rem;
}
@media (min-width: 500px) {
  .work__container {
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .work__container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
  }
}

.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2rem;
}
@media (max-width: 335px) {
  .work__filters {
    column-gap: 0.25rem;
  }
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}
@media (max-width: 335px) {
  .work__item {
    font-size: var(--fz-xs);
  }
}

.work__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}
@media (min-width: 800px) {
  .work__card {
    padding: 1.25rem;
  }
}

.work__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 500px) {
  .work__img {
    width: 295px;
  }
}
@media (min-width: 800px) {
  .work__img {
    margin-bottom: 1rem;
  }
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}
@media (min-width: 800px) {
  .work__title {
    margin-bottom: 0.5rem;
  }
}

.work__link {
  display: flex;
}

.work__button {
  width: max-content;
  margin-right: 1.3rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.work__icon {
  font-size: 1.1rem;
  transition: 0.2s;
  position: relative;
}

.work__button:hover {
  color: var(--secondary-color);
}

/* Active item work*/
.active-work {
  background-color: var(--first-color);
  color: var(--title-color);
}

.contact .container {
  margin-bottom: 0;
}
.contact__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 800px) {
  .contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 1rem;
  }
}
@media (min-width: 1080px) {
  .contact__container {
    column-gap: 6rem;
  }
}
.contact__title {
  text-align: center;
  font-size: var(--fz-md);
  margin-bottom: 1.5rem;
}
.contact__info {
  display: grid;
  gap: 1rem;
}
@media (min-width: 500px) {
  .contact__info {
    grid-template-columns: 300px;
    justify-content: center;
  }
}
.contact__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}
.contact__card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}
.contact__card-title, .contact__card-data {
  font-size: var(--fz-sm);
}
.contact__card-title {
  font-weight: var(--font-medium);
}
.contact__card-data {
  display: block;
  margin-bottom: 0.73rem;
}
.contact__button {
  color: var(--first-color);
  font-size: var(--fz-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}
.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}
.contact__button-icon {
  font-size: 1rem;
  transition: 0.2s;
}
@media (min-width: 500px) {
  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}
.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  margin: auto 1rem 2rem;
  height: 4rem;
}
.contact__form-button {
  position: relative;
  margin: auto 1rem 2rem;
}
.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}
.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--fz-xs);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}
.contact__form-area {
  height: 11rem;
}
.contact__form-area textarea {
  resize: none;
}

.footer {
  background-color: var(--first-color);
}
.footer .container {
  margin-bottom: 0;
}
.footer__container {
  padding: 2rem 0 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__title {
  color: var(--body-color);
  text-align: center;
}
.footer__copy {
  display: block;
  color: var(--body-color);
  text-align: center;
  font-size: var(--fz-xs);
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
}
@media (min-width: 800px) {
  .footer__social {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 50px;
    row-gap: 1rem;
  }
}
@media (min-width: 800px) {
  .footer__social::after {
    content: "";
    display: block;
    height: 90px;
    width: 1px;
    background-color: var(--title-color);
    margin: 0px auto;
  }
}
.footer__social-link {
  width: max-content;
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  font-size: var(--fz-xl);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}
@media (min-width: 800px) {
  .footer__social-link {
    padding: 0.4rem;
    font-size: var(--fz-sm);
  }
}
.footer__social-link:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
.footer__scroll {
  display: none;
}
@media (min-width: 800px) {
  .footer__scroll {
    display: grid;
    color: var(--title-color);
    row-gap: 2.25rem;
    gap: 3rem;
    position: fixed;
    right: -30px;
    bottom: 0;
  }
}
.footer__scroll::after {
  content: "";
  display: block;
  height: 50px;
  width: 1px;
  background-color: var(--title-color);
  margin: 2rem auto 0;
}
.footer__scroll span {
  font-size: var(--fz-xs);
  transform: rotate(90deg);
}
.footer__scroll-name {
  transition: margin-bottom 0.3s ease;
}
.footer__scroll-name:hover {
  margin-bottom: 7px;
  color: var(--secondary-color);
}

/*# sourceMappingURL=main.css.map */
